# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

node_modules/
01.jpg

# Ignore generated or large map-related files
/public/actual_files/
/public/o1/
/public/oilspill_map_files/
/public/output_dzi/
/public/tile_masks/
/public/tile_meta/
/public/actual.png
/public/actual.tiff
/public/bg.webp
/public/merged_mask.png
/public/merged_polygons.json
/public/oilspill_map.dzi
/public/output_image.dzi
/public/overlayed_fullres.png
01.jpg


recent:/

output_dzi/

overlayed_fullres/


